@model Crud_operation_Using_Ado.Models.Employee

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Emp_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empsalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empsalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empcity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empcity)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
